{% extends 'layout.html' %}
{% block css %}
<link rel="stylesheet" href="css/hwan.css">
{% endblock %}

{% block content %}
        <main>
            <aside>
                <div class="board_wrap">
                    <div class="board_title">
                        <strong>유저 게시판</strong>
                        <p>유저들과 소통하고 교류하는 게시판입니다</p>
                    </div>
                    
                    <div class="board_write_wrap">
                        <div class="board_write">
                           <form action="http://localhost:3000/review_writer" method="post">

                            <div class="title">
                              <input type="text" name="review_title" placeholder="제목 입력" value="{{ review.review_title }}" required style="border: none; outline: none; background: none;">
                          </div>
                          <hr>
                                <div class="cont">
                                  <textarea name="review_content" placeholder="내용 입력" required></textarea>
                                </div>
                                <div class="bt_wrap">
                                  <button type="submit">등록</button>
                                  <a href="/review">취소</a>
                                </div>
                              </form>
                              
                </div>
            </aside>
        </main>
{% endblock %}
